<nav class="navbar">
    <!-- Branding -->
    <div class="navbar-brand">
      <p class="navbar-brand-text">Zfunds</p>
    </div>
  
    <!-- Navigation Links -->
    <ul class="navbar-nav">
  
      <!-- Auth: Not Logged In -->
      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ng-container>
  
      <!-- Admin -->
      <ng-container *ngIf="isLoggedIn && userRole === 'admin'">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/plans">Plans</a></li>
        <li><a routerLink="/companies">Companies</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ng-container>
  
      <!-- Entrepreneur -->
      <ng-container *ngIf="isLoggedIn && userRole === 'entrepreneur'">
        <li><a routerLink="/plans">Plans</a></li>
        <li><a routerLink="/companies">Companies</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ng-container>
  
      <!-- Investor -->
      <ng-container *ngIf="isLoggedIn && userRole === 'investor'">
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ng-container>
  
      <!-- Logout -->
      <li *ngIf="isLoggedIn">
        <button (click)="logout()">Logout</button>
      </li>
      
    </ul>
  </nav>
  